body {
  padding: 0;
  margin: 0;
}

.Alert {
  padding: 10px;
}

.Alert--Info {
  background: #e3e3e3;
}

.Alert--Success {
  background: #8AC48A;
}

.Alert--Error {
  background: #f00;
  color: white;
}

/*# sourceMappingURL=app.css.map */
